.content-header h1 {
  font-size: 1.8rem;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .lbl-left {
    text-align: left;
  }
}

@media only screen and (max-device-width: 480px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Firstname"; }
	td:nth-of-type(2):before { content: "Lastname"; }
	td:nth-of-type(3):before { content: "Phone Number"; }
	td:nth-of-type(4):before { content: "City"; }
	td:nth-of-type(5):before { content: "State"; }
	td:nth-of-type(6):before { content: "Address"; }
	td:nth-of-type(7):before { content: "Action"; }
}

@media
only screen and (min-width: 1024px) {
  .action-btn{
    width:120px;
    display:block;
  }
}
