<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="content-header clearfix">
  <h1 class="float-left">Orders</h1>
  <div class="float-right">
    <button class="btn btn-primary mr-2" (click)="createExpense()">Add Expense</button>
    <button class="btn btn-success">Export</button>
  </div>
</div>

<section class="content">
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-md-2 col-sm-2 text-right">
              <div class="label-wrapper lbl-left">
                <label class="col-form-label">Search</label>
              </div>
            </div>
            <div class="col-md-7 col-sm-7">
              <input autocomplete="off" class="form-control text-box single-line" name="search" type="text">
            </div>
            <div class="col-md-3 col-sm-3">
              <button class="btn btn-primary btn-search">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default table-responsive">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Expense</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenseList; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{expense.expenseDescription}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.status}}</td>
            <td>{{expense.updated_at | date}}</td>
            <td>
              <button type="button" class="btn btn-primary mr-2" (click)="updateExpense(expense)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger mr-2" (click)="deleteConfirmation(expense)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
