<div class="content-header clearfix">
  <h1 class="float-left">Orders</h1>
  <div class="float-right">
    <button class="btn btn-primary mr-2" (click)="createOrder()">Add new</button>
    <button class="btn btn-success">Export</button>
  </div>
</div>

<section class="content">
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-md-2 col-sm-2 text-right">
              <div class="label-wrapper lbl-left">
                <label class="col-form-label">Search</label>
              </div>
            </div>
            <div class="col-md-7 col-sm-7">
              <input autocomplete="off" class="form-control text-box single-line" name="search" type="text">
            </div>
            <div class="col-md-3 col-sm-3">
              <button class="btn btn-primary btn-search">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default table-responsive">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Invoice No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Due Since</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{order.invoiceNo}}</td>
            <td>{{order.customerInfo.firstName}}  {{order.customerInfo.lastName}}</td>
            <td>{{order.status}}</td>
            <td>{{order.grandtotal}}</td>
            <td>{{order.updated_at | date}}</td>
            <td>{{order.due}}</td>
            <td>
              <button type="button" class="btn btn-primary mr-2" (click)="updateOrder(order)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger mr-2" (click)="deleteConfirmation(order)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="openPDF(order)">
                <i class="fa fa-print"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteOrder()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div id="htmlData" style="display:none;padding:20px; color:black; font-family:Arial, Helvetica, sans-serif; font-style: normal; ">
  <div style="margin:5px; border:1px solid black;">
  <table style="width: 100%">
    <tbody>
      <tr>
        <div class="container">
          <div class="row">
            <div class="col">
              <td>
                <img width="90%" height="90%" src="../../../assets/images/mf_logo_2.png">
              </td>
            </div>
            <div class="col"></div>
            <div class="col" style="font-size: 15px !important; vertical-align: 1pt;">
              <td>
                Plot No 3002, Phase - 4<br>
                Near Umiya bekari,<br>
                G.I.D.C Wadhwan, Surendranagar,<br>
                Gujarat - 363035.<br>
                Ph: +91 9427570742
              </td>
            </div>
          </div>
        </div>


      </tr>
    </tbody>
  </table>

  <div id="pointer">
    <span style="margin-left:10px;">ALL TYPE OF SCREW MANUFACTURER</span>
    <span class="float-right">marutifasteners007@gmail.com</span>
  </div>

  <p style="padding-bottom: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;"></p>
  <table style="border-collapse:collapse; width:100%;" cellspacing="0">
    <tr style="border-style: solid; border-width: 1pt;font-weight: bold; text-align: center;">
      <th colspan="6">
        <div class="container">
          <div class="row">
            <div class="col">Debit Memo</div>
            <div class="col">TAX INVOICE</div>
            <div class="col">Original</div>
          </div>
        </div>
      </th>

    </tr>
    <tr>
      <th style="border:1px solid black; border-collapse:collapse; width:70%; font-weight: normal;" colspan="4" rowspan="2">
        <div class="row">
          <label for="staticEmail" class="col-sm-2">M/s. :</label>
          <div class="col-sm-6">
            <b>{{orderModel.vendorName}}</b><br>
            {{orderModel.address}} <span *ngIf="orderModel.city">- {{orderModel.city}}</span><br>
            {{orderModel.state}} <span *ngIf="orderModel.zipcode">- {{orderModel.zipcode}}</span>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-12">Place of Supply : &nbsp; &nbsp;
              <span style="font-weight: normal;">24-Gujarat</span>
          </label>

        </div>
        <div class=" row">
          <label for="staticEmail" class="col-sm-2">GSTIN No. :</label>
          <div class="col-sm-7">
            {{orderModel.gstin}}
          </div>
          <div class="col-sm-3"></div>
        </div>
      </th>
      <th style="border:1px solid black; border-collapse:collapse; padding-left: 10px; font-family:Verdana, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14px;" bgcolor="#EAEAEA">
        InvoiceNo <br>
        Date
      </th>
      <th style="border:1px solid black; border-collapse:collapse;  padding-left: 10px; font-family:Verdana, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14px;" colspan="2" bgcolor="#EAEAEA">
        {{orderModel.invoiceNo}} <br>
        {{orderModel.invoiceDate}}
      </th>
    </tr>
    <tr>
      <td style="border-style:solid;border-width:1pt;" colspan="3">
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
      </td>
    </tr>

    <tr>
      <th style="border-style:solid;border-width:1pt;text-align: center;">SrNo.</th>
      <th style="border-style:solid;border-width:1pt;text-align: center;">Product Name</th>
      <th style="border-style:solid;border-width:1pt;text-align: center;">HSN/SAC</th>
      <th style="border-style:solid;border-width:1pt;text-align: center;">QTY</th>
      <th style="border-style:solid;border-width:1pt;text-align: center;">Rate</th>
      <th style="border-style:solid;border-width:1pt;text-align: center;">Amount</th>
    </tr>
    <tr style="text-align: center;" class="align-baseline" *ngFor="let product of orderModel.products;
        let i = index;  let last = last" [ngStyle]="last === true ? {'height':'350pt'} : null">
      <td style="border-width:0px 1px 0px 1px;">{{i + 1}}</td>
      <td style="border-width:0px 1px 0px 1px;">{{product.productName}}</td>
      <td style="border-width:0px 1px 0px 1px;">7318</td>
      <td style="border-width:0px 1px 0px 1px;">{{product.qty}} KG</td>
      <td style="border-width:0px 1px 0px 1px;">{{product.rate}}</td>
      <td style="border-width:0px 1px 0px 1px;">{{product.amount}}</td>
    </tr>
    <tr bgcolor="#EAEAEA" style="font-weight:bold;">
      <td style="border:1px solid black; border-collapse:collapse;" colspan="3">Company's GSTIN No.: 24AZYPD6811F1ZA</td>
      <td style="border:1px solid black; border-collapse:collapse;"></td>
      <td style="border:1px solid black; border-collapse:collapse; border-right:0px; border-right-width: 0px;"> Sub Total</td>
      <td style="border:1px solid black; border-collapse:collapse; border-left:0px;"> {{orderModel.subtotal}}</td>
    </tr>
    <!--Bank Details-->
    <tr>
      <td colspan="4" style="border:1px solid black; border-collapse:collapse;">
        <div class="row">
          <label for="staticEmail" class="col-sm-3">Bank Detail :</label>
          <div class="col-sm-6">
            CANARA BANK, Wadhwan, Surendranagar, Gujarat
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-3">A/c No :</label>
          <div class="col-sm-5">
            120001805659
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-3">IFSC CODE :</label>
          <div class="col-sm-5">
            CNRB0017184
          </div>
          <div class="col-sm-4"></div>
        </div>
      </td>
      <td colspan="2" rowspan="2" style="border:1px solid black; border-collapse:collapse;">
        <div class="row">
          <label for="staticEmail" class="col-sm-6">Courier:</label>
          <div class="col-sm-5">
            {{orderModel.courier}}
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-6">Taxable Amount:</label>
          <div class="col-sm-5">
            {{orderModel.taxable_amt}}
          </div>
          <div class="col-sm-1"></div>
        </div>
        <!-- <div class="row">
          <label for="staticEmail" class="col-sm-12">Taxable Amount: &nbsp; <span>{{orderModel.taxable_amt}}</span></label>
        </div> -->
        <div class="row">
          <label for="staticEmail" class="col-sm-6">CGST 9%:</label>
          <div class="col-sm-5">
            {{orderModel.cgst}}
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-6">SGST 9%:</label>
          <div class="col-sm-5">
            {{orderModel.sgst}}
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-6">Roundoff:</label>
          <div class="col-sm-5">
            {{orderModel.roundoff}}
          </div>
          <div class="col-sm-1"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border:1px solid black; border-collapse:collapse;">
        <div class="row">
          <label for="staticEmail" class="col-sm-3">Total GST:</label>
          <div class="col-sm-9">
            {{orderModel.gst_word | amountInWords}}
          </div>
        </div>
        <div class="row">
          <label for="staticEmail" class="col-sm-3">Bill Amount:</label>
          <div class="col-sm-9">
            {{orderModel.grand_total | amountInWords}}
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border:1px solid black; border-collapse:collapse;">Note :</td>
      <td colspan="2" style="border:1px solid black; border-collapse:collapse;">
        <div class="row" style="font-size:19px; font-weight:bold;">
          <label for="staticEmail" class="col-sm-6" >Grand Total:</label>
          <div class="col-sm-5">
            {{orderModel.grand_total}}
          </div>
          <div class="col-sm-1"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border:1px solid black; border-collapse:collapse; font-size:11px;">
        <span style="font-weight: bold;">Terms & Condition :</span>
        <ol>
          <li>1.Goods once sold will not be taken back.</li>
          <li>2.Interest @18% p.a. will be charged if payment is not made within due date.</li>
          <li>3.Our risk and responsibility ceases as soon as the goods leave our premises.</li>
          <li>4.All disputes subject to Surendranagar Jurisdiction. E.&.O.E.</li>
        </ol>
      </td>
      <td class="align-baseline" colspan="2" style="border:1px solid black; border-collapse:collapse; font-size:12px;">
        <span >For,  MARUTI FASTENERS</span>
        <span style="float:right;">(Authorised Signatory)</span>
      </td>
    </tr>
  </table>
</div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
